<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <title>Contact</title>
    <script src="https://kit.fontawesome.com/2e6c318d27.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navigation-contact">
            <!-- Navigation links here -->
            <ul class="nav-links">
                <li class="{{ 'active' if request.path == '/' else '' }}"><a href="/">Home</a></li>
                <li class="{{ 'active' if request.path == '/projects' else '' }}"><a href="/projects">Projects</a></li>
                <li class="{{ 'active' if request.path == '/contact' else '' }}"><a href="/contact">Contact</a></li>
            </ul>
            <div class="header-title">
                <span><a href="/">{{ title }}</a></span>
            </div>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/isaacjohanziebarth/" target="_blank"><i class="fa-brands fa-linkedin-in" style="font-size:28px"></i></a></li>
                <li><a href="https://github.com/Zyzzbarth333" target="_blank"><i class="fa-brands fa-github" style="font-size:28px;color:#5227FA"></i></a></li>
                <li><a href="https://www.printables.com/@Zyzzbarth333" target="_blank"><i class="fa-solid fa-link" style="font-size:28px;color:#5227FA"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="contact-main">
        <h1>Contact Me.</h1>
        <p><a href="mailto:IJZiebarth@outlook.com.au">IJZiebarth@outlook.com.au</a></p>
        <!-- Social links -->
        <div class="social-links">
            <a href="https://www.linkedin.com/in/isaacjohanziebarth/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Zyzzbarth333" target="_blank">GitHub</a>
            <a href="https://www.printables.com/@Zyzzbarth333" target="_blank">Printables</a>
        </div>
    </main>

    <footer>
        <p>Isaac Johan Ziebarth</p>
    </footer>
</body>
</html>
