<!-- projects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <title>My Projects</title>
    <script src="https://kit.fontawesome.com/2e6c318d27.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navigation-projects">
            <!-- Navigation links here -->
            <ul class="nav-links">
                <li class="{{ 'active' if request.path == '/' else '' }}"><a href="/">Home</a></li>
                <li class="{{ 'active' if request.path == '/projects' else '' }}"><a href="/projects">Projects</a></li>
                <li class="{{ 'active' if request.path == '/contact' else '' }}"><a href="/contact">Contact</a></li>
            </ul>
            <div class="header-title">
                <span><a href="/">{{ title }}</a></span>
            </div>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/isaacjohanziebarth/" target="_blank"><i class="fa-brands fa-linkedin-in" style="font-size:28px"></i></a></li>
                <li><a href="https://github.com/Zyzzbarth333" target="_blank"><i class="fa-brands fa-github" style="font-size:28px;color:#5227FA"></i></a></li>
                <li><a href="https://www.printables.com/@Zyzzbarth333" target="_blank"><i class="fa-solid fa-link" style="font-size:28px;color:#5227FA"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="project-container">
        <h1 class="project-header">Projects</h1>
        <div class="project-grid">
            {% for project in projects %}
            <div class="project-card">
                <img src="{{ url_for('static', filename='img/' ~ project.image) }}" alt="{{ project.name }}">
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}</p>
                <a href="#" class="button">Tell me more</a>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>